body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
}

h1 {
  margin: 0;
}

.phase-text, .win-display {
  margin: 20px 0;
  font-size: 18px;
}

.orientation-container {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.orientation-container label {
  font-size: 16px;
}

main {
  display: flex;
  gap: 50px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-grid, .computer-grid {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  border: 1px solid #999;
  font-size: 14px;
}

.player-grid .grid-item {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.reset-button{
  margin-left: 10px;
}
